{{if.Error}}
<div class="alert alert-error  alert-dash items-center  mx-auto w-1/2 p-4">
    <div class=" text-center flex justify-center ">
        <label class="text-center">{{.Error}}</label>
    </div>
</div>
{{ end }}
<div class="overflow-x-auto flex items-start justify-center w-full">
    {{range.Tables}}
    <table
        class="table table-s m-4 p-2 table-zebra border-separate border border-solid border-primary border-base-content/8 bg-base-100">
        <thead>
            <tr>
                <th></th>
                static <th colspan="2" class="text-accent">{{.Label}}</th>
            </tr>
        </thead>
        <tbody>
            {{range.Pairs}}
            <tr hx-trigger="mouseover" hx-get="/image/{{.Key}}" hx-target="#image-{{.Key}}" hx-swap="outerHTML"
                hx-on::before-request="console.log('HTMX envoie une requête pour', '{{.Key}}')"
                hx-on::after-request="console.log('Réponse reçue pour', '{{.Key}}')">

                <th>{{.Value}}</th>
                <td>{{.Key}}</td>
            </tr>
            <div id="image-{{.Key}}"> </div>

            {{end}}
        </tbody>
    </table>
    {{end}}
</div>
